<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="SistemaPlantaMorande.My.MySettings.sisplantaConnectionString"
            connectionString="Data Source=SQLSERVER02\BCI_ERP_C;Initial Catalog=sisplanta;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="SistemaPlantaMorande.My.MySettings.maestro_artículo_todos"
            connectionString="Data Source=SQLSERVER02\BCI_ERP_C;Initial Catalog=sisplanta;User ID=planta;Password=morande2017"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
</configuration>